<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css">
</head>
<body>

<div class="container pt-5" id="app">
    <div class="row mb-3">
        <div class="col">
            <h1>Cars App</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="search">Find your car</label>
                <input type="text" class="form-control" id="search" placeholder="Name, Model ...">
            </div>

            <hr>

            <ul class="list-group">
                <li
                    v-for="(car, index) in cars"
                    @click="selectCar(index)"
                    :class="{'active': selectedCar === index}"
                    class="list-group-item list-group-item-action pointer"
                >{{ car.name }} - {{ car.model }}</li>
            </ul>
        </div>
        <div class="col-md-8 pt-3">
            <div class="row">
                <div class="col-md-5">
                    <h2>{{ car.name }}</h2>
                    <img
                        :src="car.image"
                        :alt="car.model"
                        class="rounded w-100">
                </div>
                <div class="col-md-7 pt-2">
                    <h5>Car Details</h5>

                    <ul>
                        <li>Model - <strong>{{ car.model }}</strong></li>
                        <li>Year - <strong>{{ car.year }}</strong></li>
                        <li>Owner - <strong>{{ car.owner }}</strong></li>
                    </ul>

                    <div class="phone-block">
                        <p v-if="phoneVisibility">{{ car.phone }}</p>
                    </div>

                    <button @click="togglePhone" class="btn btn-outline-success mr-3">{{ phoneBtnText }}</button>
                    <button class="btn btn-primary">Buy</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="app.js"></script>

</body>
</html>